<%- include('../partials/header') %>
<div class="row">
  <div class="col-4 offset-4 mt-5">
    <fieldset>
      <legend class="text-center">
        Add New Ticket for:<br />
        <%= flight.airline %> Flight <%= flight.flightNo %><br />
      </legend>
      <form
        action="/flights/<%= flight._id %>/tickets/new"
        method="POST"
        class="form"
        autocomplete="off"
      >
        <div class="mb-3">
          <label for="seat" class="form-label">Seat</label>
          <input
            name="seat"
            type="text"
            class="form-control"
            required
            pattern="[A-F][1-9]\d?"
          />
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input
            name="price"
            type="text"
            class="form-control"
            aria-label="Amount (to the nearest dollar)"
          />
        </div>
        <div class="mb-3">
          <button class="btn btn-primary" type="submit">Save Ticket</button>
        </div>
      </form>
    </fieldset>
  </div>
</div>
<%- include('../partials/footer') %>
