<%- include('../partials/header') %>
      <div class="row">
        <div class="col-8 offset-2">
          <table class="table table-dark table-hover table-striped table-bordered mt-5">
            <thead>
              <tr>
                <th>Airline</th>
                <th>Airport</th>
                <th>Flight Number</th>
                <th>Departure</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
            <% flights.forEach(flight => {
                const now = new Date();
                if(now > flight.departs) { %>
                  <tr class="table-danger"> 
             <% } else { %>
                  <tr>
             <% } %>
              <td>
                <%= flight.airline %>
              </td>
              <td>
                <%= flight.airport %>
              </td>
              <td>
                <%= flight.flightNo %>
              </td>
              <td>
                <%= flight.departs.toLocaleDateString() + ' ' + flight.departs.toLocaleTimeString() %>
              </td>
              <td>
                <a href="/flights/<%= flight._id %>" class="btn btn-primary">Details</a>
              </td>
            </tr>
            <% }); %>
            </tbody>
          </table>
        </div>
      </div>
<%- include('../partials/footer') %>
